In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('smoking_driking_dataset_Ver01.csv')
df.head()

,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,...,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd,DRK_YN
0,Male,35,170,75,90.0,1.0,1.0,1.0,1.0,120.0,...,126.0,92.0,17.1,1.0,1.0,21.0,35.0,40.0,1.0,Y
1,Male,30,180,80,89.0,0.9,1.2,1.0,1.0,130.0,...,148.0,121.0,15.8,1.0,0.9,20.0,36.0,27.0,3.0,N
2,Male,40,165,75,91.0,1.2,1.5,1.0,1.0,120.0,...,74.0,104.0,15.8,1.0,0.9,47.0,32.0,68.0,1.0,N
3,Male,50,175,80,91.0,1.5,1.2,1.0,1.0,145.0,...,104.0,106.0,17.6,1.0,1.1,29.0,34.0,18.0,1.0,N
4,Male,50,165,60,80.0,1.0,1.2,1.0,1.0,138.0,...,117.0,104.0,13.8,1.0,0.8,19.0,12.0,25.0,1.0,N

In [4]:
pd.set_option('display.max_columns', None)

df.head()

,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,DBP,BLDS,tot_chole,HDL_chole,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd,DRK_YN
0,Male,35,170,75,90.0,1.0,1.0,1.0,1.0,120.0,80.0,99.0,193.0,48.0,126.0,92.0,17.1,1.0,1.0,21.0,35.0,40.0,1.0,Y
1,Male,30,180,80,89.0,0.9,1.2,1.0,1.0,130.0,82.0,106.0,228.0,55.0,148.0,121.0,15.8,1.0,0.9,20.0,36.0,27.0,3.0,N
2,Male,40,165,75,91.0,1.2,1.5,1.0,1.0,120.0,70.0,98.0,136.0,41.0,74.0,104.0,15.8,1.0,0.9,47.0,32.0,68.0,1.0,N
3,Male,50,175,80,91.0,1.5,1.2,1.0,1.0,145.0,87.0,95.0,201.0,76.0,104.0,106.0,17.6,1.0,1.1,29.0,34.0,18.0,1.0,N
4,Male,50,165,60,80.0,1.0,1.2,1.0,1.0,138.0,82.0,101.0,199.0,61.0,117.0,104.0,13.8,1.0,0.8,19.0,12.0,25.0,1.0,N

In [5]:
df.shape

(991346, 24)

In [6]:
df.isnull().sum()

sex                 0
age                 0
height              0
weight              0
waistline           0
sight_left          0
sight_right         0
hear_left           0
hear_right          0
SBP                 0
DBP                 0
BLDS                0
tot_chole           0
HDL_chole           0
LDL_chole           0
triglyceride        0
hemoglobin          0
urine_protein       0
serum_creatinine    0
SGOT_AST            0
SGOT_ALT            0
gamma_GTP           0
SMK_stat_type_cd    0
DRK_YN              0
dtype: int64

In [7]:
df1 = df.copy()
df2 = df.copy()
df3 = df.copy()

# Lebel Encoding

In [8]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [9]:
from pandas.core.dtypes.common import is_numeric_dtype

# 1. The purpose of this dataset is to classify Drinker or Not.

In [10]:
x = df1.drop('DRK_YN', axis=1)
x.head()

,sex,age,height,weight,waistline,sight_left,sight_right,hear_left,hear_right,SBP,DBP,BLDS,tot_chole,HDL_chole,LDL_chole,triglyceride,hemoglobin,urine_protein,serum_creatinine,SGOT_AST,SGOT_ALT,gamma_GTP,SMK_stat_type_cd
0,Male,35,170,75,90.0,1.0,1.0,1.0,1.0,120.0,80.0,99.0,193.0,48.0,126.0,92.0,17.1,1.0,1.0,21.0,35.0,40.0,1.0
1,Male,30,180,80,89.0,0.9,1.2,1.0,1.0,130.0,82.0,106.0,228.0,55.0,148.0,121.0,15.8,1.0,0.9,20.0,36.0,27.0,3.0
2,Male,40,165,75,91.0,1.2,1.5,1.0,1.0,120.0,70.0,98.0,136.0,41.0,74.0,104.0,15.8,1.0,0.9,47.0,32.0,68.0,1.0
3,Male,50,175,80,91.0,1.5,1.2,1.0,1.0,145.0,87.0,95.0,201.0,76.0,104.0,106.0,17.6,1.0,1.1,29.0,34.0,18.0,1.0
4,Male,50,165,60,80.0,1.0,1.2,1.0,1.0,138.0,82.0,101.0,199.0,61.0,117.0,104.0,13.8,1.0,0.8,19.0,12.0,25.0,1.0

In [11]:
x1 = x.copy()
x2 = x.copy()

In [12]:
x.shape

(991346, 23)

In [13]:
y = df1[['DRK_YN']]
y.head()

  DRK_YN
0      Y
1      N
2      N
3      N
4      N

In [14]:
y.shape

(991346, 1)

In [15]:
from sklearn.model_selection import train_test_split
xtrain, xtest, ytrain, ytest = train_test_split(x, y, test_size=0.3, random_state=42)

In [16]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(random_state=42)

In [17]:
for col in xtrian.columns:
   if not is_numeric_dtype(xtrain[col]):
        df1[col] = le.fit_transform(xtrain[col])

xtrain.head()

NameError: name 'xtrian' is not defined

For train data

In [ ]:
clf.fit(xtrain,ytrain)

In [ ]:
predict_train_array= clf.predict(xtrain)
predict_train_array

In [ ]:
predict_train_array.shape

In [ ]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, confusion_matrix, roc_auc_score, roc_curve, auc, balanced_accuracy_score

In [ ]:
accuracy = accuracy_score(ytrain, predict_train_array)
accuracy

In [ ]:
precision = precision_score(ytrain, predict_train_array)
precision

In [ ]:
recall = recall_score(ytrain, predict_train_array)
recall

In [ ]:
f1 = f1_score(ytrain, predict_train_array)
f1

In [ ]:
conf_matrix = confusion_matrix(ytrain, predict_train_array)
conf_matrix

In [ ]:
roc_auc = roc_auc_score(ytrain, predict_train_array)
roc_auc

In [ ]:
balanced_acc = balanced_accuracy_score(ytrain, predict_train_array)
balanced_acc

In [ ]:
clf.fit(xtest,ytest)

In [ ]:
predict_test_array = clf.predict(xtest)
predict_test_array

In [ ]:
predict_test_array.shape

In [ ]:
accuracy = accuracy_score(ytest, predict_test_array)
accuracy

In [ ]:
precision = precision_score(ytest, predict_test_array)
precision

In [ ]:
conf_matrix = confusion_matrix(ytest, predict_test_array)
conf_matrix

# Perform KKN & Decision Tree Classifier

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x1, y, test_size=0.3, random_state=42)

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

knn_model = KNeighborsClassifier(n_neighbors= 833)
knn_model.fit(x_train, y_train)

Rule of Thumb: A common starting point is to set n_neighbors to the square root of the number of samples in your dataset. In your case, with 693,942 samples, you might consider a value around 832 (since √693,942 ≈ 832)

In [ ]:
x_train.shape

In [ ]:
from pandas.cores.dtypes.common import is_numpy_c_ordered
is_numpy_c_ordered(x_train):
return hasattr(x_train, "flags") and x_train.flags.c_contiguous

For Train DAta

In [ ]:
pred_knn_train = knn_model.predict(x_train)
pred_knn_train